.body{
    grid-template-areas:
    "header header"
    "main  main"
    "nav  nav";
    background-color: hsl(0, 0%, 100%);
    color: hsl(222.2, 84%, 4.9%);    
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: hsl(214.3, 31.8%, 91.4%);
}
/* --------------------------- inicio do css da header ------------------------ */
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    padding: 0.25rem;
}

.header-labels{
    margin: 0.5rem;
    font-weight: 600;
    font-size: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header-contents{
    margin: 0;
}

.divider{
    border-bottom-width: 1px;
    border-bottom-color: rgb(229, 231, 235);
    border-bottom-style: solid;
    margin: 0.5rem 0;
    width: 100%;
}

/* botoes da header */

.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
}

.filter-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    background-image: none;
    margin: 0.25rem;
    font-weight: 350;
    font-size: 0.875rem;
    line-height: 1rem;
    width: max-content;
    height: max-content;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(180, 180, 180);
    padding: 0.4rem 0.75rem;
    border-radius: 9999px;
    box-shadow: none;
}

.filter-button.active{
    font-weight: 700;
    background-color: rgb(28, 176, 246);
    color: rgb(239, 246, 255);
    border-color: rgb(28, 176, 246);
;
}

/* CSS pro hover */
.filter-button:hover{
    background-color: rgb(240, 220, 254);
    border-color: rgb(240, 220, 254);
    color: #CE82FF;
    font-weight: 500;
    animation-duration: 100ms;
    transition-duration: 150ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-size: cover;
    background-position: center;
}

/* -----------------------fim do css da header ------------------------------- */
/* -------------------- inicio do css do conteudo da tela --------------------- */
.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: fit-content;
    width: 95%;
    margin: 1%;
    padding: 0.25rem;
    
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    width: 100%;
    border-width: 1.5px;
    border-color: hsl(214.3, 31.8%, 91.4%);
    border-style: solid;
    border-radius: 0.5rem;
    box-shadow: 2px 3px 10px rgb(220, 222, 224);
    margin: 1% 0;
    gap: 0.5rem;
    z-index: 2;
}

.card-header{
    margin: 0;
    align-self: self-start;
    font-weight: 600;
    font-size: 1.25rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.main-icons{
    font-size: 2rem;
    line-height: 1;
    margin: 0.25rem;
    color: ;
}

.main-header{
    font-weight: 700;
    font-size: 1.5rem;
    color: rgb(20, 20, 20);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-labels{
    margin: 0.25rem 0;
    font-weight: 700;
    /* font-size: 1rem; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-contents{
    margin: 0.25rem 0;
    font-weight: 300;
    font-size: 1rem;
    align-self: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.main-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #CE82FF, #1CB0F6);
    font-size: large;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-style: none;
    padding: 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* CSS pro hover */
.main-buttons:hover{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #1CB0F6, #CE82FF);
}

.progress-bar-container {
  width: 100%;
  height: 20px;
  background-color: #eee;
  border-radius: 9999px;
  position: relative;
}

.progress-bar {
    width: 25%;
    height: 100%;
    background-color: #58CC02;
    transition: width 0.5s ease; /* Adiciona uma transição suave */
    border-radius: 9999px;
}

.ranking{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1% 2%;
    width: 96%;
    border: none;
    box-shadow: none;
}

.photo-container{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-photo{
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    border-color: #58CC02;
    border-style: solid;
    border-width: 4px;
    z-index: 1;
    object-fit: cover;
}

.ranking-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99%;
}

.text-area{
    display: flex;
    flex-direction: column;
    width: 80%;
}

/* ---------------------- fim do css do conteudo da tela ----------------------- */
/* ------------------------ inicio do css da navegacao ------------------------- */
.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    bottom: 0;
    background-color: hsl(0, 0%, 100%);
    z-index: 2;
    width: 100%;
    padding: 0.5rem;
    border-top-width: 1px;
    border-top-color: rgb(243, 244, 246);
    border-top-style: solid;
}

.nav-icons{
    display: flex;
    font-size: 2rem;
    line-height: 1;
    margin: 0.25rem;
    position: relative;
    z-index: 2;
}

.nav-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: rgb(107,114,128);
    background-color: transparent;
    background-image: none;
    border-style: none;
    cursor: pointer;
}

.nav-buttons.active{
    background-color: rgb(239, 246, 255);
    color: rgb(28, 176, 246);
}

.nav-buttons:hover{
    color: rgb(55, 65, 81);
    animation-duration: 200ms;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
/* -------------------------- fim do css da navegacao --------------------------- */